# Ignore environment variable files
.env
.envrc

# Ignore data files
/data
/linkedin_api
/archive
/database
/logs
/dbt_freeprise/dbt_packages
/dbt_freeprise/logs




# Ignore Poetry lock file
poetry.lock
pyproject.toml

# Ignore virtual environment directory
.venv

# Ignore other unwanted files
*.pyc
__pycache__/
